
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>Rally on Rails Results - Brought to you by Timehub.net</title> 
    <meta charset='utf-8' /> 
    <meta content='ie=edge' http-equiv='x-ua-compatible' /> 
    <meta content='Emmanuel Oga, Andrés Mejía' name='author' /> 
    <meta content='Licensed under GPL and MIT.' name='copyright' /> 
    <meta content='Results' name='description' /> 
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script> 
    <link href='stylesheets/ribbon.css' rel='stylesheet' type='text/css' /> 
    <link href='stylesheets/gh_buttons.css' rel='stylesheet' type='text/css' /> 
    <link href='stylesheets/ranking.css' rel='stylesheet' type='text/css' /> 
    <script src='javascripts/dt.js' type='application/javascript'></script> 
    <script type='application/javascript'> 
      $(function(){
        $("#scores").dataTable({ "iDisplayLength": 50, "aaSorting": [[11,'desc']] });
      });
    </script> 
  </head> 
  <body> 
    <div class='right ribbon-holder'> 
      <a class='darkblue ribbon' href='http://rallyonrails.com/teams/47' target='_blank'> 
        <span class='text'> 
          Vote for us
        </span> 
      </a> 
    </div> 
    <div class='wrapper' id='main'> 
      <h1> 
        <a href='http://rallyonrails.com/teams'>Rally On Rails '11 Scoreboard</a> 
      </h1> 
      <h2> 
        Help us keep
        <span class='timehub_logo'>TimeHub</span> 
        on top.
      </h2> 
      <a class='button vote_button' href='http://rallyonrails.com/teams/47#ajaxful_rating_judge_usefulness_no-small_application_42' target='_blank'> 
        Vote for
        <span class='timehub_logo'>TimeHub</span> 
      </a> 

      <h1> 
        <a href='http://twitter.com/#!/rallyonrails/status/106107169946079232'>Someone is cheating.</a> 
      </h1>

      <div class="cheat_report">
        <p><b>5:43PM, August 23rd.</b> Judging from the scores on our team page, it looks like the issue is now resolved. Great! Thank you judges.</p>  
        <p><b>4:05PM, August 23rd.</b> Here's a screenshot that shows our team with a negative score. Clearly this needs to be fixed.
            <div class="thumbnail"><a href="https://img.skitch.com/20110824-q7kqip635d516ysundc6uc5qmi.png"><img src="https://img.skitch.com/20110824-q7kqip635d516ysundc6uc5qmi.preview.jpg" alt="Funky Town - Rally on Rails" /></a></div>
          </p>
        <p><b>3:54PM, August 23rd.</b> Judges admit there are indeed negative votes on the database <a href="http://twitter.com/#!/rallyonrails/status/106107169946079232">via Twitter.</a></p>
        <p><b>3:50PM, August 23rd.</b> A guy from another team reports we have negative scores on the Rally on Rails website <a href="http://twitter.com/#!/rrodrigu3z/status/106106058627497985">via Twitter.</a></p>
        <p><b>3:46PM, August 23rd.</b> Judges reply they haven't touched anything on the database or the app <a href="http://twitter.com/#!/rallyonrails/status/106105007648153600">via Twitter.</a></p>
        <p><b>3:36PM, August 23rd.</b> We reported a sudden suspicious change in the scoreboard to the Rally on Rails team <a href="http://twitter.com/#!/timehubapp/status/106102539585466368">via Twitter.</a></p>
      </div>
      
      <p>All times are GMT-5.</p>
      
    </div> 
    <div class='wrapper' id='footer'> 
      <a href='http://rallyonrails.com/teams/47' target='_blank'> 
        <img alt='Vote for us!' src='http://timehub.net/images/rally.png' title='Vote for us!' /> 
      </a> 
      <div style='margin-top: 20px'> 
        Created by
        <a href='http://rallyonrails.com/teams/47' target='_blank'>Funky Town</a> 
      </div> 
      <div style='margin-top: 20px'> 
        <a href='https://github.com/andmej' target='_blank'>Andrés Mejía Posada</a> 
        |
        <a href='https://github.com/jpemberthy' target='_blank'>Juan Esteban Pemberthy</a> 
        |
        <a href='https://github.com/nhocki' target='_blank'>Nicolás Hock Isaza</a> 
      </div> 
    </div> 
  </body> 
  <script type='application/javascript'> 
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25135614-1']);
    _gaq.push(['_setDomainName', '.timehub.net']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script> 
</html>