
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>How to vote | Timehub.net</title> 
    <meta charset='utf-8' /> 
    <meta content='ie=edge' http-equiv='x-ua-compatible' /> 
    <meta content='Emmanuel Oga, Andrés Mejía' name='author' /> 
    <meta content='Licensed under GPL and MIT.' name='copyright' /> 
    <meta content='Results' name='description' /> 
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script> 
    <link href='stylesheets/ribbon.css' rel='stylesheet' type='text/css' /> 
    <link href='stylesheets/gh_buttons.css' rel='stylesheet' type='text/css' /> 
    <link href='stylesheets/ranking.css' rel='stylesheet' type='text/css' /> 
    <script src='javascripts/dt.js' type='application/javascript'></script> 
    <script type='application/javascript'> 
      $(function(){
        $("#scores").dataTable({ "iDisplayLength": 50, "aaSorting": [[11,'desc']] });
      });
    </script>
    <%= File.read("views/_clicky.js") %>    
  </head> 
  <body> 
    <div class='right ribbon-holder'> 
      <a class='darkblue ribbon' href='http://rallyonrails.com/teams/47' target='_blank'> 
        <span class='text'> 
          Vote for us!
        </span> 
      </a> 
    </div> 
    <div class='wrapper' id='main'> 
      <h1> 
        <a href='http://rallyonrails.com/teams'>Help us win!</a> 
      </h1> 
      <h2> 
        Let's keep
        <span class='timehub_logo'>TimeHub</span> 
        on top.
      </h2> 

      <h2>What is this?</h2>
      
      <p>Nicolás Hock, Juan Esteban Pemberthy y Andrés Mejía (a.k.a "we") were part of a programming contest where we had to build a web app in under 48 hours. Now, we need your vote to win!</p>
        
      <h2>How do I vote?</h2>
      
      <div class="instructions">
        
        <div>
          <div class="step_number">Step 1</div>
          <div> Choose one of these:</div>
          <div style="line-height: 35px">
            <a href="http://rallyonrails.com/auth/facebook" title="Facebook" target="_blank"><img alt="Facebook" src="http://rallyonrails.com/images/facebook.png?1314140882"></a>
            <a href="http://rallyonrails.com/auth/twitter" title="Twitter" target="_blank"><img alt="Twitter" src="http://rallyonrails.com/images/twitter.gif?1314140882"></a>
            <a href="http://rallyonrails.com/auth/github" title="Github" target="_blank"><img alt="Github" src="http://rallyonrails.com/images/github.png?1314140882"></a>
            <br />
            Then, click "allow" and come back to this window.
          </div>
        </div>
        
        <div class="step_number">Step 2</div>
        <div>
          <a style="font-size: 30px" href="http://rallyonrails.com/teams/47#ajaxful_rating_judge_usefulness_no-small_application_42" target="_blank">click this link to go to our team profile</a>.
          Don't worry, it will open in a new window.
        </div>
        
        <div class="step_number">Step 3</div>
        <div>
          Click in the last start of each row (5 point vote!)
          <div>
            <img src="https://img.skitch.com/20110824-kfu732jp4acj4cywm5bhgf7df7.png" alt="Vote" />
          </div>
        </div>
        
        <div class="step_number">Step 4</div>
        <div>
          <h2>You're done. Now, you'll have an icecream in heaven waiting for you. You can obviously choose the flavor!</h2>
        </div>        
      </div>
      
    </div> 
    <div class='wrapper' id='footer'> 
      <a href='http://rallyonrails.com/teams/47' target='_blank'> 
        <img alt='Vote for us!' src='http://timehub.net/images/rally.png' title='Vote for us!' /> 
      </a> 
      <div style='margin-top: 20px'> 
        Created by
        <a href='http://rallyonrails.com/teams/47' target='_blank'>Funky Town</a> 
      </div> 
      <div style='margin-top: 20px'> 
        <a href='https://github.com/andmej' target='_blank'>Andrés Mejía Posada</a> 
        |
        <a href='https://github.com/jpemberthy' target='_blank'>Juan Esteban Pemberthy</a> 
        |
        <a href='https://github.com/nhocki' target='_blank'>Nicolás Hock Isaza</a> 
      </div> 
    </div> 
  </body> 
  <script type='application/javascript'> 
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25135614-1']);
    _gaq.push(['_setDomainName', '.timehub.net']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script> 
</html>