* {
  text-align: center;
}

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  padding: 10px; margin: 0 10px;
  background-color: #fefec0;
}

h1 a {
  font-size: 36px; font-weight: bold; text-decoration: none; 
}

table {
  background-color: #ddd;
  margin: 2.5%;
  width: 95%; padding: 10px; margin: 10px
  border: 1px solid #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

th                 { background: #efefef }
tr:nth-child(even) { background: #fefefe }
tr:nth-child(odd)  { background: #efefef }
tr:hover { background: yellow; }
td, tr, th { padding: 5px; }
.total { font-weight: bold; color: green; font-size: 15px; }
.me { background-color: #afa !important; }

#scores_length, #scores_info {
  display: none;
}