@import url(http://fonts.googleapis.com/css?family=Amaranth:700);

* {
  text-align: center;
}

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  padding: 10px; margin: 0 10px;
  background-color: whiteSmoke;
}

a {
  color: #257bc4;
}

h1 a {
  font-size: 60px; font-weight: bold; text-decoration: none; 
  color: black;
}

table {
  background-color: #ddd;
  margin: 2.5%;
  width: 95%; 
  padding: 2px;
  margin: 10px;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px #ccc;
}

.total { font-weight: bold; color: green; font-size: 15px; }
.me { background-color: #afa !important; }


th                 { background: #efefef }
tr:nth-child(even) { background: #fefefe }
tr:nth-child(odd)  { background: #efefef }

tr:hover {
  background-color: #3C8DDE;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
  color: white;
}

tr:hover th {
  color: black;
}

tr:hover a {
  color: whiteSmoke;
}

tr:hover .total {
  color: whiteSmoke;
}

td, tr, th { padding: 5px; }

#scores_length, #scores_info, #scores_filter {
  display: none;
}

.wrapper {
  width: 940px;
  margin: 0 auto; 
}

.wrapper:after {
  clear: both;
  content: ".";
  height: 0;
  display: none;
  zoom: 1%; 
}

#main {
  z-index: 0;
  position: relative;
  background: white;
  margin-top: 1px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

#footer {
  min-height: 80px;
  margin: 10px auto 30px;
  text-align: center; 
}

.timehub_logo {
  font-family: 'Amaranth', sans-serif;  
  font-size: 1.4em;
}

.vote_button {
  font-size: 1.8em;
  margin-bottom: 20px;
}